// Basic colors
$main-color: #FE3C35;
$black: #000;
$light-black: #222222;
$gray: #7B7B7B;
$light-gray: #7A7A7A;
$white: #fff;
$grey: #7B7B7B;


//Theme colors
// $theme-primary-color: $light-blue;
// $theme-secondary-color: $light-gray;
// $theme-third-color: $light-blue-2;

// $theme-divider-color: $light-gray-2;
// $theme-overlay-color: #fff;

$theme-text-primary-color: $gray;
$theme-text-secondary-color: $light-black;
$theme-text-third-color: $black;

// $theme-content-block-primary: $white;
// $theme-content-block-secondary: $theme-secondary-color;

// $theme-input-border-color: $light-gray-3;

// $theme-success-color: $green;
// $theme-danger-color: $red;

// $theme-slider-navigation-color: $black;
// $theme-slider-navigation-disabled-color: $gray;
